# Visual Studio Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Build directories
build/
Debug/
Release/

# Compiled binary files
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib

# Logs and databases
*.log
*.db

# System files
.DS_Store
Thumbs.db